@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&family=Raleway:wght@500&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
    font-family: 'Jost', sans-serif;
    height: 100%;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1 1 auto;
}
.content {
    position: relative;
    width: 33.5vw;
    height: 26.4vh;
    border-radius: 1.77vw;
    background-image: url("../img/pic1.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 1.25vw 1.25vw 0;
}
.content h1, h2, p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 700;
    font-size: 2.29vw;
    line-height: 83.3%;
    letter-spacing: -0.04em;
    color: #fff;
    margin-left: 1.82vw;
}
.m_top, .m_centr, .m_bottom {
    display: flex;
    justify-content: center;
}
.change_1 {
    background-image: url("../img/pic2.png");
}
.change_2 {
    width: 20.15vw;
    background-image: url("../img/pic3.png")
}
.change_1 h1{
    top: 75%;
}
.change_2 h1{
    top: 25%;
}
.m_bottom .content {
    height: 41.10vh;
}
.rb .content {
    width: 25.20vw;
    height: 19.45vh;
}
.change_4 h1 {
    position: static;
    margin-bottom: 2.28vh;
    transform: none;
    margin: 0 0 2.34vh 0;
}
.change_3 h1, p, h2{
    margin: 0;
}
.change_4 p {
    position: static;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.25vw;
    line-height: 105.8%;
    width: auto;
}
.definition {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    margin-left: 1.82vw;
    box-sizing: border-box;
    padding: 0 2.08vw 0 0;
}
.change_3 {
    background-image: url("../img/pic7.png");
    width: 20.98vw;
}
.change_4 {
    background-image: url("../img/pic4.png");
    width: 41.25vw;
}
.change_6 {
    background-image: url("../img/pic5.png");
}
.change_5 {
    background-image: url("../img/pic6.png");
}
.change_5 h1 {
    top: 80%;
}
.change_6 h1 {
    transform: translate(-50%, -50%);
    left: 50%;
    margin: 0;
    white-space: nowrap;
}
.t_contacs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 1.82vw;
}
.change_3 h1 {
    color: #135787;
}
.change_3 h2 {
    margin: 2.11vh 0 0.52vh 0;
    font-weight: 700;
    font-size: 1.77vw;
    line-height: 83.3%;
}
.change_3 p {
    font-weight: 400;
    font-size: 1.25vw;
    width: auto;
}
.change_3 h1, h2, p {
    position: static;
    transform: none;
}
.ab_4 {
    background-image: url("../img/pic2_3.png");
}
.ab_1 {
    background-image: url("../img/pic2_1.png");
}
.abw {
    width: 40.36vw;
}
.abh {
    height: 41.13vh;
}
.abh2 {
    height: 29.31vh;
}
.about ul {
    list-style-type: disc;
    display: block;
    margin-left: 1.77vw;
}
.about li {
    font-weight: 500;
    font-size: 1.66vw;
    line-height: 97.8%;
    letter-spacing: -0.06em; 
    color: #FFFFFF;
}
.st .content{
    height: 21.45vh;
}
.sth {
    height: 21.45vh;
}
.stock .pic2{
    background-image: url("../img/pic3_2.png");
}
.stock .pic3{
    background-image: url("../img/pic3_3.png");
}
.stock .pic4{
    background-image: url("../img/pic3_4.png");
}
.stock .pic5{
    background-image: url("../img/pic3_5.png");
}
.stock .pic6{
    background-image: url("../img/pic3_6.png");
}
.dropdown {
    display: none;
}
.main img {
    width: 29.37vw;
    height: 32.13vh;
    border-radius: 1.77vw;
    object-fit: cover;
    margin: 0 1.25vw 1.25vw 0;
}
.ev .content { 
    width: 29.37vw;
    height: 32.13vh;
}
.ev h1 {
    text-align: center;
    letter-spacing: -0.035em;
    line-height: 48px;
}
.ev .pic1 {
    background-image: url("../img/pic6_1.png");
}
.ev .pic2 {
    background-image: url("../img/pic6_2.png");
}
.ev .pic3 {
    background-image: url("../img/pic6_3.png");
}
.ev .pic4 {
    background-image: url("../img/pic6_4.png");
}
.ev .pic5 {
    background-image: url("../img/pic6_5.png");
}
.ev .pic6 {
    background-image: url("../img/pic6_6.png");
}
.ct .content {
    width: 20,98vw;
    height: 41.10vh;
}
.ct iframe {
    border-radius: 1.77vw;
    width: 43.22vw;
    height: 27.55vh;
}
.ct2 {
    background-image: url("../img/pic7_1.png");
}
.ct2 h1 {
    color: #8F2464;
}
.conteiner {
    display: flex;
    justify-content: center;
}
.cntnr {
    background: #FF9CE3;
    border-radius: 1.77vw;
    padding: 2.22vh 1.25vw;
    height: 62.12vh;
    
}
.cntnr img {
    border-radius: 1.25vw;
    margin: 0;
    width: fit-content;
}
.nw h1 {
    font-weight: 600;
    font-size: 2.08vw;
    line-height: 78.8%;
    letter-spacing: -0.035em;
    margin: 2.11vh 0;
    width: 26.87vw;
}
.cntnr h1 {
    margin: 2.11vh 0;
}
.nw p {
    font-weight: 400;
    font-size: 1.56vw;
    line-height: 103.8%;
    letter-spacing: -0.07em;
    width: 26.87vw;
}
.nw h1, p {    
    color: #fff;
    width: 26.87vw;
}
.cntr {
    margin-left: 1.25vw;
}
.ch h1, h2, p, .spec {
    width: 15.1vw;
    line-height: 83.3%;
    letter-spacing: -0.04em;
    color: #fff;
}
.ch {
    background-color: #FF438B;
    height: 67.87vh;
    position: relative;
}
.ch h1 {
    font-weight: 700;
    font-size: 1.77vw;
}
.ch h2 {
    font-weight: 500;
    font-size: 1.25vw;
    margin: 0;
}
.ch p {
    font-weight: 700;
    font-size: 1.04vw;
    line-height: 103.8%;
    margin: 1.29vh 0 0.2vh 0;
}
.spec {
    display: block;
    list-style-type: disc;
    margin-left: 1.2vw;
}
.spec li {
    font-weight: 500;
    font-size: 1.04vw;
    color: #fff;
    line-height: 103.8%;
}
.ch .h_2 {
    width: auto;
    position: absolute;
    transform: translate(-7%,-97%);
    top: 97%;
    right: 7%;
}
.services {
    display: block;
    margin: 0 auto;
}
.sv {
    display: flex;
    height: auto;
    background-color: #71CCFF;
    width: 48.17vw;
}
.ss {
    margin-top: 2.22vh;
}
.txt {
    margin-left: 1.77vw;
}
.txt p, .serv li {
    font-weight: 400;
    font-size: 1.04vw;
    line-height: 103.8%;
    width: auto;
}
.serv {
    margin-left: 2.7vw;
}
.txt h1 {
    margin-top: 0;
}
.photo img {
    transition: 0.5s;
}
.photo img:hover {
    transform: scale(0.95);
}
.change_6 {
    transition: 0.5s;
}
.change_6:hover {
    transform: scale(0.95);
}
@media (min-width: 2559px){
    .cntnr img {
        height: fit-content;
    }
}
.enter {
    text-align: center;
}
.enter h1 {
    color: #DB3172;
    font-weight: 700;
    font-size: 44px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.035em;
    margin-bottom: 2.77vh;
}
.logo img {
    width: 8vw;
}
.reg {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
button {
    margin-top: 2.77vh;
    font-size: 22px;
    color: #fff;
    outline: none;
    background: #FFE3F1;
    border: 1px solid #DB3172;
    border-radius: 14px;
    padding: 5px 19px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #DB3172;
}
button:hover {
    color: rgb(255, 255, 255);
    background: #DB3172;
}
input, select {
    outline: none !important;
    width: 28.25vw;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: -0.035em;
    border: 1px solid #DB3172;
    border-radius: 0.72vw;
    padding: 0.37vh 0.72vw 0.37vh 0.72vw;
    color: #FF7AAD;
}
input::placeholder  { color: #FF7AAD; }
input::-moz-placeholder { color: #FF7AAD; }
input::-webkit-input-placeholder { color: #FF7AAD; }
.reg a {
    text-decoration: none;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #DB3172;
}
.header {
    margin: 3.5vh 0 3.5vh 0;
}
.ds {
    display: flex;
}
.vs, .df_txt {
    display: none;
}
@media (max-width: 1440px) {
    /* Изменение размеров шрифта заголовков */
    .change_3 h1, .change_4 h1 {
        font-size: 2.6vw;
    }
    /* Уменьшение интервала между буквами */
    .change_3 h1 {
        letter-spacing: -0.05em;
    }
    /* Измениение размера шрифта вторых заголовков и увеличение отступа сверху */
    .change_3 h2 {
        font-size: 2vw;
        margin-top: 2.4vh;
    }
    /* Изменения уменьшения отступа слева */
    .t_contacs {
        margin-left: 1.7vw;
    }
    /* Увеличение размера шрифта для содержания */
    .change_4 p {
        font-size: 1.54vw;
    }
    
}
@media (min-width: 1200px) {
    .change_4 p {
        font-size: 1.4vw;   
    } 
}
@media (min-width: 1380px) {
    .change_4 p {
        font-size: 1.2vw;   
    } 
}
@media (min-width: 1700px) {
    .change_4 p {
        font-size: 1.1vw;
    }
    .change_4 h1, .change_3 h1 {
        font-size: 2vw;
    }
    .change_3 h2 {
        font-size: 1.5vw;
    }
    .change_3 p {
        font-size: 1vw;
      }
}
/* Медиа запрос для расширения экрана равное 1080 или меньше */
@media (max-width: 1080px) {
     /* Настройка ширины контейнера и его центрирование */
     .wrapper, .rw{
        max-width: 770px;
        margin: 0 auto;
    }
    /* Скрытие всех элементов в футоре */
    .underline > * {
       display: none;
    }
    /* Отобразить один элемент из скрытых и назначение ему размера шрифта */
    .underline  > .cp {
        display: block;
        font-size: 2.22vw;
    }
    /* Настройка длины линии под размер контейнера */
    .footer hr {
        width: auto;
    }
    /* Настройка отступов для хеадера */
    .header {
        margin: 1.8vh 0 1.8vh 0;
    }
    /* Скрытие всех элементов в хедоре */
    .phone, .usr, .bottom {
        display: none;
    }
    /* Увеличение логотипа */
    .logo img {
        width: 20vw;
    }
    
    /* Скрытие логотипа десктопной версии */
    .lg {
    display: none;
    }
     /* Отображение блока с логотипом мобильной версии с выпадающим списком */
     .dropdown {
        display: block;
        position: relative;
        display: inline-block;
    }
    /* Настройка выпадающего списка */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    /* Ссылки выпадающего списка */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 2vw;
    }
    /* Эффект при наведении на ссылку списка */
    .dropdown-content a:hover {
        background-color: #ddd;
    }
    /* Отображение списка при наведении */
    .dropdown:hover .dropdown-content {
        display: block;
    }
    /* Добавление отступов для групп (строк) */
    .m_top, .rw{
        margin-bottom: 2.22vw;
    }
    /* Назначение размеров и расположения 1 блока */
    .m_top .chg_1 {
        order: 1;
        width: 40.98vw;
        height: 29.07vh;
    }
    /* Названачение высоты первой группы */
    .m_top {
        height: 29.07vh;
    }
    /* Назначение шрифтов для заголовков элеметов */
    .m_top .chg_1 h1, .cb h1, .change_3 h1, .change_4 h1 {
        font-size: 4.5vw;
    }
    /* Изменение расположения заголовка в блоке */
    .m_top .chg_1 h1 {
        padding: 2vh 2vw 0 2.8vw;
        position: static;
        margin: 0;
        transform: none;
      }
    /* Назначение расположение блока */
    .m_top .ds {
        order: 2;
    }
    /* Назначение блоку шрины, высоты и группировака элеметов */
    .m_top .chg {
        width: 50.98vw;
        height: 13.42vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    /* Добавление отступа для первого элемента первой группы */
    .ds .chg .change_1 {
        margin-top: 2.22vh;
    }
    /* Расположение элементов в группе */
    .m_top .ds {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* Настройка нижней группы */

    /* Настройка округления и отступа для элементов */
    .content {
        border-radius: 3.4vw;
        margin:  0 2.22vw 0 0;
    }
    /* Настройка шрифта заголовка */
    .ds h1 {
        font-size: 3.5vw;
        margin: 0 auto;
        top: 50%;
    }
    /* Центрирование элементов */
    .ds .chg {
        align-items: center;
        margin: 0;
    }
    /* Отображение элементов */
    .vs, .df_txt {
        display: block;
    }
    /* Скрытие элементов */
    .rb, .df_txt2 {
        display: none;
    }
    /* Выравние элементов в строчку */
    .rw {
        display: flex;
    }
    /* Настройка элементов */
    .m_bottom {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.5vh;
    }
    /* Настройка квадратных элементов */
    .cb {
        margin: 0;
        width: 23.88vw;
    }
    /* Назначение очередность элемента и его отступ */
    .change_5 {
        order: 1;
        margin-right: 2.22vw;
    }
    /* Настройка заголовка */
    .cb h1 {
        transform: translate(-50%, -50%);
        left: 50%;
        margin: 0;
        white-space: nowrap;
        top: 50%;
    }
    /* Добавление отступа */
    .tp {
        margin-right: 2.9vw;
    }
    /* Назначение элементам и группам высоты в 100% */
    .m_bottom .content {
        height: 100%;
    }
    /* Настройка расположения элементов */
    .t_contacs {
        transform: translate(-50%, -50%);
        left: 50%;
        margin: 0;
        top: 50%;
    }
    /* Настройка блока элемента */
    .rw .change_3, .rw .change_4 {
        width: 60.49vw;
        box-sizing: border-box;
        padding: 3.7vh 2vw;
    }
    /* Расположение блока */
    .change_4 {
        order: 2;
        margin: 0;
    }
    /* Настройка размера шрифта содержания */
    .change_4 p {
        font-size: 2.1vw;
    }
    /* Сброс параметров для элементов */
    .change_4 .definition, .change_3 .t_contacs {
        margin: 0;
        padding: 0;
        position: static;
        transform: none;
    }
    /* Выравние заголовка по центру */
    .change_3 h1 {
        text-align: center;
    }
    /* Добавление отступа для блока */
    .definition {
        margin-left: 3vw;
    }
    /* Настройка заголовка */
    .change_3 h2 {
        font-size: 2.7vw;
        white-space: nowrap;
    }
    /* Настройка размера шрифта */
    .change_3 p {
        font-size: 2vw;
        white-space: nowrap;
    }
    /* Выравние в строчку элементов */
    .text_c {
        display: flex;
    }
}
/* Медиа запрос для расширения экрана равное 1000 или меньше */
@media (max-width: 1000px) {
    .ds h1 {
        font-size: 4vw;
    }
}
/* Медиа запрос для расширения экрана равное 900 или меньше */
@media (max-width: 900px) {
    /* Изменение размера шрифта */
    .cb h1, .m_top .chg_1 h1 {
        font-size: 6vw;
    }
    /* Изменение размера шрифта заголовков */
    .change_3 h1, .change_4 h1 {
        font-size: 5vw;
    }
    /* Добаление отступа */
    .definition {
        margin-left: 3.5vw;
    }   
    /* Изменение размера шрифта заголовка */
    .ds h1 {
        font-size: 4.3vw;
    }
    /* Изменение размера шрифта заголовка */
    .change_3 h2 {
        font-size: 3vw;
    }
    /* Изменение размера шрифта */
    .change_3 p {
        font-size: 2.5vw;
    }
}
/* Медиа запрос для расширения экрана равное 850 или меньше */
@media (max-width: 850px) {
    /* Изменение размера шрифта */
    .change_4 p {
        font-size: 2.7vw;
    }
    /* Изменение ширины блока */
    .cb {
        width: 30vw;
    }
}
/* Медиа запрос при меньше или равно высоте экрана 550px */
@media (max-height: 550px) {
    /* Измененеи размера шрифта для заголовка */
    .ds h1 {
        font-size: 3.5vw;
      }
}